@media (max-width: 1440px) {
  .vdo-btn::after,
  .vdo-btn::before {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 1200px) {
  .auc-product-gallery .image-gallery-slides .image-gallery-image {
    width: 500px;
    height: 500px;
  }
  .auc-product-gallery .image-gallery-thumbnail {
    width: 151px;
    height: 151px;
    border-radius: 8px;
    object-fit: cover;
  }
  .auc-product-gallery .image-gallery-thumbnails .image-gallery-thumbnail-image {
    width: 151px;
    height: 151px;
    object-fit: cover;
    border-radius: 8px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .auc-product-gallery .image-gallery-slides .image-gallery-image {
    width: 285px;
    height: 300px;
  }
  .auc-product-gallery .image-gallery-thumbnail {
    width: 78px;
    height: 78px;
  }
  .auc-product-gallery .image-gallery-thumbnails .image-gallery-thumbnail-image {
    width: 78px;
    height: 78px;
  }
}
